body {
	background-color: grey;
}
 
footer{
	background-color:white;
	display: block;
	width: 950px;
	height:70px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1.3px dashed grey;
	background-color: white;
}

#footertext{
	font-family: calibri;
	color: #686363;
	text-align:center;
	line-height: 70px;
	vertical-align: middle;
}

#ds1{
	font-weight: bold;
	text-align:center;
}

.ds2{
	

}

#mail{
	color:green;
	font-family:calibri;
	text-decoration:none;
}

#socials {
	background-color: white;
	float: left;
	width: 100%;
	margin-top: -20px;
}

#twitter{
	float: left;
	width: 50%;
	padding: 0 10px;
	box-sizing: border-box;
}
#twitter iframe {
	float: left;
}

#facebook{
	float: left;
	width: 50%;
	padding: 0 10px;
	box-sizing: border-box;
}
#facebook iframe {
	float: right;
}
