header{
	background-color: white;
	margin: 0 auto;
	width: 950px;
	padding: 30px;
	height: 100px;
	box-shadow: 1px 1px 15px #cfd0d1;
}

.header-item {
	float: left;
	box-sizing: border-box;
}

.groeneblok {
	background-color: #5b8260;
	width: 50%;
	height: 100%;
	padding: 10px;
}

.groeneblok-tekst {
	font-size: 18px;
	font-style: italic;
	font-family: calibri;
	font-weight:bold;
	color:white;
	height: 35px;
	line-height: 50px;
	vertical-align: middle;
	margin-left: 15px;
}

.wrapper {
	width: 25%;
	height: 100%;
	text-align: center; 
	line-height:120px;
}

.wrapper > img {
	display: inline-block;
	vertical-align: middle;
}







