body{
	background-color: grey;
}

#rec1{
	border: 1px solid green;
	width: 25%;
}

#rec2{
	border: 1px solid green;
	width: 25%;
}

#rec3{
	border: 1px solid green;
	width: 25%;
}


#rec4{
	border: 1px solid green;
	width: 25%;
}

#rec5{
	border: 1px solid green	;
	width: 25%;
}